In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
computer = pd.read_csv("C:/Users/oyedeepak/Downloads/Assignment/Multi Linear Regression/Computer_Data.csv"); computer.head()

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads  trend
0           1   1499     25   80    4      14  no    no     yes   94      1
1           2   1795     33   85    2      14  no    no     yes   94      1
2           3   1595     25  170    4      15  no    no     yes   94      1
3           4   1849     25  170    8      14  no    no      no   94      1
4           5   3295     33  340   16      14  no    no     yes   94      1

In [3]:
computer.drop(computer.columns[0], axis =1, inplace = True)

In [4]:
computer.corr()

           price     speed        hd       ram    screen       ads     trend
price   1.000000  0.300976  0.430258  0.622748  0.296041  0.054540 -0.199987
speed   0.300976  1.000000  0.372304  0.234760  0.189074 -0.215232  0.405438
hd      0.430258  0.372304  1.000000  0.777726  0.232802 -0.323222  0.577790
ram     0.622748  0.234760  0.777726  1.000000  0.208954 -0.181670  0.276844
screen  0.296041  0.189074  0.232802  0.208954  1.000000 -0.093919  0.188614
ads     0.054540 -0.215232 -0.323222 -0.181670 -0.093919  1.000000 -0.318553
trend  -0.199987  0.405438  0.577790  0.276844  0.188614 -0.318553  1.000000

In [5]:
computer.dtypes

price       int64
speed       int64
hd          int64
ram         int64
screen      int64
cd         object
multi      object
premium    object
ads         int64
trend       int64
dtype: object

In [6]:
CD = pd.get_dummies(computer.cd, prefix=' CD').iloc[:,1]
Multi = pd.get_dummies(computer.multi, prefix='Multi').iloc[:,1]
Premium = pd.get_dummies(computer.premium, prefix='Premium').iloc[:,1]

In [7]:
merged= pd.concat([computer, CD, Multi, Premium], axis = 1)
merged= merged.drop(['cd','multi','premium'], axis= 1)
merged

,price,speed,hd,ram,screen,ads,trend,CD_yes,Multi_yes,Premium_yes
0,1499,25,80,4,14,94,1,0,0,1
1,1795,33,85,2,14,94,1,0,0,1
2,1595,25,170,4,15,94,1,0,0,1
3,1849,25,170,8,14,94,1,0,0,0
4,3295,33,340,16,14,94,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
6254,1690,100,528,8,15,39,35,0,0,1
6255,2223,66,850,16,15,39,35,1,1,1
6256,2654,100,1200,24,15,39,35,1,0,1
6257,2195,100,850,16,15,39,35,1,0,1
6258,2490,100,850,16,17,39,35,1,0,1

In [8]:
X= merged.drop('price', axis= 1)
Y= merged.price

In [9]:
# splitting the dataset into test and train

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size= 0.2, random_state= 5)

In [10]:
from sklearn.linear_model import LinearRegression
regressor= LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
# predicting the Test set results

Y_pred= regressor.predict(X_test)

In [12]:
from sklearn.metrics import r2_score
score = r2_score(Y_test, Y_pred)

In [13]:
score

0.7804132216253672