In [20]:
#importing the libraries

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [21]:
#importing the dataset

df = pd.read_csv('C:/Users/oyedeepak/Downloads/Assignment/Multi Linear Regression/ToyotaCorolla.csv', encoding='unicode_escape')

In [22]:
df.drop(df.columns[0], axis =1, inplace = True)
df.head()

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,1,0,0,0,1,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,1,0,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,0,1,0,0,0,1,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,1,0,1,0,1,0,0,0

In [23]:
#Creating dependent and independent variables

X= df.loc[:, ["Price","Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight"]]
Y= df.Price

X.head()

   Price  Age_08_04     KM  HP    cc  Doors  Gears  Quarterly_Tax  Weight
0  13500         23  46986  90  2000      3      5            210    1165
1  13750         23  72937  90  2000      3      5            210    1165
2  13950         24  41711  90  2000      3      5            210    1165
3  14950         26  48000  90  2000      3      5            210    1165
4  13750         30  38500  90  2000      3      5            210    1170

In [24]:
X.columns

Index(['Price', 'Age_08_04', 'KM', 'HP', 'cc', 'Doors', 'Gears',
       'Quarterly_Tax', 'Weight'],
      dtype='object')

In [25]:
#Dividing data between test and train dataset

from sklearn.model_selection import train_test_split
X_train,X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.33, random_state= 5)

In [26]:
#applying the model

from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
Y_pred= reg.predict(X_test)

In [30]:
from sklearn.metrics import r2_score
score = r2_score(Y_test, Y_pred)

print('The r^2 score is', score)

The r^2 score is 1.0

In [31]:
#Using statsmodels to get r^2 score

import statsmodels.formula.api as smf
ml1= smf.ols('Price~Price+Age_08_04+KM+HP+cc+Doors+Gears+Quarterly_Tax+Weight', data= df).fit()

ml1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.463e+32
Date:                Thu, 14 May 2020   Prob (F-statistic):               0.00
Time:                        13:01:25   Log-Likelihood:                 35734.
No. Observations:                1436   AIC:                        -7.145e+04
Df Residuals:                    1426   BIC:                        -7.139e+04
Df Model:                           9
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      5.457e-12      4e-12      1.363      0.173   -2.39e-12    1.33e-11
Price             1.0000   7.47e-17   1.34e+16      0.000       1.000       1.000
Age_08_04       1.67e-13   1.17e-14     14.269      0.000    1.44e-13     1.9e-13
KM            -4.597e-17   3.86e-18    -11.912      0.000   -5.35e-17   -3.84e-17
HP            -4.774e-14   8.29e-15     -5.756      0.000    -6.4e-14   -3.15e-14
cc             2.776e-16   2.54e-16      1.092      0.275   -2.21e-16    7.76e-16
Doors         -1.137e-13   1.13e-13     -1.008      0.314   -3.35e-13    1.08e-13
Gears         -1.137e-12   5.58e-13     -2.039      0.042   -2.23e-12   -4.31e-14
Quarterly_Tax -4.441e-15   3.71e-15     -1.198      0.231   -1.17e-14    2.83e-15
Weight                 0   3.27e-15          0      1.000   -6.41e-15    6.41e-15
==============================================================================
Omnibus:                       98.494   Durbin-Watson:                   0.177
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              117.536
Skew:                           0.684   Prob(JB):                     3.00e-26
Kurtosis:                       3.305   Cond. No.                     3.16e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.16e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""