In [1]:
# Importing Libraries 
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix

In [3]:
mirror= pd.read_csv('C:\\Users\\oyedeepak\\Downloads\\Assignment\\KNN\\Zoo.csv')
mirror.head(10)

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1

In [4]:
#Training and Test data using
from sklearn.model_selection import train_test_split
train, test = train_test_split(mirror, test_size= 0.25) #20 percent of entire data

In [10]:
from sklearn.neighbors import KNeighborsClassifier as KNC

nei= KNC(n_neighbors= 3, p= 2)
X_train= train.iloc[:, 1:17]
Y_train= train.iloc[:, 17]
X_test= train.iloc[:, 1:17]
Y_test= train.iloc[:, 17]

nei.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [11]:
train_acc= np.mean(nei.predict(X_train)== Y_train)
print(train_acc)

test_acc= np.mean(nei.predict(X_test)== Y_test)
print(test_acc)

0.9733333333333334
0.9733333333333334