In [1]:
# Importing Libraries 
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix

In [2]:
mirror= pd.read_csv('C:\\Users\\oyedeepak\\Downloads\\Assignment\\KNN\\glass.csv')
mirror.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [13]:
#Training and Test data using
from sklearn.model_selection import train_test_split
train, test = train_test_split(mirror, test_size= 0.25) #20 percent of entire data

In [14]:
# KNN using sklearn
# Importing KNN algorithm from sklearn.neighbors
from sklearn.neighbors import KNeighborsClassifier as KNC
# for 7 nearest neighbours
neigh = KNC(n_neighbors= 3, p=1)
X_train= train.iloc[:, 0:9]
X_test= test.iloc[:, 0:9]
Y_train = train.iloc[:, 9]
Y_test = test.iloc[:, 9]
#fitting with training data
neigh.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=1,
                     weights='uniform')

In [15]:
#training accuracy
train_acc= np.mean(neigh.predict(X_train)== Y_train)
print(train_acc)

#test accuracy
test_acc= np.mean(neigh.predict(X_train)== Y_train)
print(test_acc)

0.8375
0.8375

In [19]:
Y_predict= neigh.predict(X_test)

In [20]:
confusion_matrix(Y_test, Y_predict)

array([[13,  3,  0,  0,  0,  0],
       [ 5, 16,  0,  0,  3,  0],
       [ 3,  1,  0,  0,  0,  0],
       [ 0,  1,  0,  2,  0,  0],
       [ 0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  6]], dtype=int64)