In [98]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [99]:
df =pd.read_csv('C:/Users/oyedeepak/Downloads/Assignment/Logistic Regression/affairs.csv')
df.head(3)

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,0,male,37.0,10.0,no,3,18,7,4
1,0,female,27.0,4.0,no,4,14,6,4
2,0,female,32.0,15.0,yes,1,12,1,4

In [100]:
classification_gen= {'female':0, 'male':1}
df['gender']= df['gender'].map(classification_gen)

classification_child= {'no':0, 'yes':1}
df['children']= df['children'].map(classification_child)
df.dtypes

df.dtypes

affairs            int64
gender             int64
age              float64
yearsmarried     float64
children           int64
religiousness      int64
education          int64
occupation         int64
rating             int64
dtype: object

In [101]:
df.loc[df['affairs'] == 0, 'affairs'] = 0
df.loc[df['affairs'] != 0, 'affairs'] = 1

In [102]:
df.tail()

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
596,1,1,22.0,1.5,1,1,12,2,5
597,1,0,32.0,10.0,1,2,18,5,4
598,1,1,32.0,10.0,1,2,17,6,5
599,1,1,22.0,7.0,1,3,18,6,2
600,1,0,32.0,15.0,1,3,14,1,5

In [103]:
df= df.loc[:, ['affairs','gender','age','yearsmarried','children','religiousness','education','occupation','rating']]
X= df.drop('affairs', axis= 1)
Y= df.affairs

In [110]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size = 0.2, random_state= 0)

In [111]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

X_train= sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [112]:
from sklearn.linear_model import LogisticRegression
reg= LogisticRegression(random_state=5)
reg.fit(X_train, Y_train)

C:\Users\oyedeepak\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=5, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [113]:
Y_pred= reg.predict(X_test)

In [114]:
from sklearn.metrics import accuracy_score

score = accuracy_score(Y_test, Y_pred)
score

0.8016528925619835

In [115]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[94,  2],
       [22,  3]], dtype=int64)