In [1]:
#importing the libraries

import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [2]:
# importing the dataset

df =pd.read_csv('C:/Users/oyedeepak/Downloads/Assignment/Logistic Regression/bank-full.csv')
df.head(3)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no

In [3]:
# creating dependent and independent variables

df= df.loc[:, ['job', 'marital', 'education', 'default','balance', 'housing', 'loan', 'duration', 'pdays', 'y']]
X= df.drop('y', axis= 1)
Y= df.y

In [4]:
# applying OneHotEncoder to deal with categorical data, and then applying logistic regression

column_trans= make_column_transformer(
    (OneHotEncoder(), ['job','marital','education','default','housing','loan']),
    remainder= 'passthrough')
logreg= LogisticRegression(solver= 'liblinear')

In [5]:
pipe= make_pipeline(column_trans, logreg)

In [6]:
#checking the score

cross_val_score(pipe, X, Y, cv= 5, scoring= 'accuracy').mean()

0.8836773732269346

In [7]:
X_new= X.sample(5, random_state= 99)
X_new

,job,marital,education,default,balance,housing,loan,duration,pdays
35484,blue-collar,married,primary,no,1033,yes,no,244,-1
39114,services,single,secondary,no,165,yes,no,182,-1
29906,entrepreneur,married,secondary,no,242,no,yes,510,198
10073,blue-collar,married,primary,no,238,no,no,204,-1
22086,management,single,tertiary,no,1246,no,no,63,-1

In [8]:
pipe.fit(X,Y)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=None,
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=True),
                                                  ['job', 'marital',
                                                   'education', 'default',
                                                   'housing', 'loan'])],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='liblinear', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [9]:
pipe.predict(X_new)

array(['no', 'no', 'no', 'no', 'no'], dtype=object)