In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [2]:
df= pd.read_csv('C:\\Users\\oyedeepak\\Downloads\\Assignment\\Decision Tree\\Fraud_check.csv')
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [3]:
df.loc[df['Taxable.Income']<= 30000, 'Taxable.Income']= 0 #Risky
df.loc[df['Taxable.Income']> 30000, 'Taxable.Income']= 1 #Good or not risky

df['City.Population']= pd.cut(df['City.Population'], 4)


df['Work.Experience']= pd.cut(df['Work.Experience'], 3)
#df['Work.Experience']
#df.head()

In [4]:
from sklearn import preprocessing

le= preprocessing.LabelEncoder()
for i in range(0,6):
    df.iloc[:,i]= le.fit_transform(df.iloc[:,i])
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,1,0,0,1
1,1,0,1,2,1,1
2,0,1,1,3,2,1
3,1,2,1,3,1,1
4,0,1,1,0,2,0

In [5]:
# train test split
df_train, df_test= train_test_split(df, test_size= 0.2, random_state=0)
print('train No ', str(len(df_train)))
print('test No ', str(len(df_test)))


train_x= df_train[['Undergrad','Marital.Status','Work.Experience','Urban']]
train_y= df_train['Taxable.Income']

test_x= df_test[['Undergrad','Marital.Status','Work.Experience','Urban']]
test_y= df_test['Taxable.Income']

train No  480
test No  120

In [6]:
train_x.head()

     Undergrad  Marital.Status  Work.Experience  Urban
118          0               0                0      0
362          1               0                1      1
55           1               2                1      1
90           0               0                2      0
390          1               2                1      0

In [7]:
feature_names= ['Undergrad','Marital.Status','Work.Experience','Urban']
class_names= [0,1,2,3]

In [9]:
#training the entropy
tree_classifier= tree.DecisionTreeClassifier(criterion= 'entropy')
tree_classifier.fit(train_x, train_y)

prediction= tree_classifier.predict(train_x)
accuracy= accuracy_score(train_y, prediction)

print('Trained tree has an accuracy of ', str(accuracy))

prediction= tree_classifier.predict(test_x)
accuracy= accuracy_score(test_y, prediction)

print('Test tree has an accuracy of ', str(accuracy))

Trained tree has an accuracy of  0.79375
Test tree has an accuracy of  0.7916666666666666