In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv(r"C:\Users\oyedeepak\Downloads\Assignment\Hypothesis Testing\LabTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [5]:
from scipy.stats import shapiro
shapiro(df)

(0.9949412941932678, 0.11753447353839874)

In [6]:
#p-value (= 0.11) is greater than alpha. Thus, we accept Ho.
#data is normally distributed

In [7]:
print(df['Laboratory 1'].mean())
print(df['Laboratory 2'].mean())
print(df['Laboratory 3'].mean())
print(df['Laboratory 4'].mean())

178.36158333333339
178.9029166666668
199.91325000000003
163.6827499999999

In [8]:
from scipy.stats import f_oneway

In [12]:
f_oneway(df['Laboratory 1'], df['Laboratory 2'], df['Laboratory 3'], df['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [13]:
# Ho= No difference in the average of TAT recorded
# Ha= Difference in the average of TAT recorded
#p-value(= 2.115e-57) is less than alpha. Thus, we reject Ho.
# There is significant difference in the average of TAT recorded.