In [1]:
import numpy as np
import pandas as pd

In [5]:
df =pd.read_csv(r"C:\Users\oyedeepak\Downloads\Assignment\Hypothesis Testing\Faltoons.csv")
df

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [8]:
#Event= Male
print(df['Weekdays'].value_counts())
print(df['Weekend'].value_counts())

Female    287
Male      113
Name: Weekdays, dtype: int64
Female    233
Male      167
Name: Weekend, dtype: int64

In [9]:
# Weekday event = 113
# Weekend event = 167
# Total weekday occurence = 400
# Total weekend occurence = 400

In [21]:
from statsmodels.stats.proportion import proportions_ztest

In [34]:
males = np.array([113, 167])
total = np.array([400, 400])

In [35]:
stat, pval = proportions_ztest(males, total)
print('{0:0.8f}'.format(pval))

0.00006261

In [36]:
#Ho= Proportions of Male is less than or equal to Female
#Ha= Proportions of Male is greater than Female

# p-value is less than 0.05 and hence we fail to reject Ho. Hence proportions of Male and Female are not same.