In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\oyedeepak\Downloads\Assignment\Hypothesis Testing\Cutlets.csv")
df.head()

    UnitA   UnitB
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
from scipy.stats import shapiro

In [5]:
shapiro(df)

(0.9762489795684814, 0.2044535130262375)

In [6]:
#The second value is p-value. Since, p-value is greater than alpha(= 0.05), we accept the null hypothesis.
#Thus, data is normally distributed

In [7]:
#Now, we will perform t-paired test because we have to find whether difference between the mean of two units is significant or not.
#Also, the two data are independent
from scipy.stats import ttest_ind as tti

In [8]:
tti(df.UnitA, df.UnitB)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [9]:
#Since, p-value is greater than alpha(= 0.05), we accept the null hypothesis.
#Thus, the difference between the mean of two diameters is not significant

In [14]:
print('Diameter of UnitA:', df.UnitA.mean())
print('Diameter of UnitB:', df.UnitB.mean())

Diameter of UnitA: 7.01909142857143
Diameter of UnitB: 6.964297142857142