In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv(r"C:\Users\oyedeepak\Downloads\Assignment\Hypothesis Testing\Costomer+OrderForm.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [48]:
#Replacing the data with boolean numbers
df.replace({'Error Free':1, 'Defective':0}, inplace= True)

In [49]:
df.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [51]:
df_m= df.apply(pd.Series.value_counts)
df_m

   Phillippines  Indonesia  Malta  India
1           271        267    269    280
0            29         33     31     20

In [52]:
from scipy.stats import chi2_contingency, chisquare

In [53]:
chi2_contingency(df_m)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [1]:
# H0 : Defect proportion same for all countries
# Ha : Defect proportion varies with countries
# p-value = 0.6315 > 0.05  => Accept null hypothesis
# CONCLUSION - All countries have equal proportions, thus it does not vary by centre.